.header {
    color: black;
    border-bottom: 4px solid yellow;
}

.header__button {
    font-family: "Red Hat Mono", sans-serif;
    background-color: rgb(22, 1, 5);
    color: white;
    padding: 15px;
    font-size: 13px;
    font-weight: 500;
    border: solid yellow;
}