.navi {
    color: #2a2b21;
    margin: -45px;
    font-size: 15px;
    font-weight: 500
}

.navi:visited {
    color: none;
}

.navi:hover {
    color: #994f1e
}

.navi__list {
    list-style: none;
    margin: 5px;

}