.table {
    border-collapse: collapse;
    width: 100%;
}

.table__caption {
    padding: 10px;
    text-align: left;
}

.table__cell {
    margin: 0 auto;
    border: 2px inset rgb(114, 106, 106);
    padding: 15px;
    text-align: center;
}


.table__header {
    background: rgb(236 236 245);
}

.table__row:nth-child(odd) {
    background: rgb(236 236 245);
}

.table__row:hover {
    background: yellow;
}

.table__container {
    overflow-x: auto;
}